@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Streaming Service</h1>
    <p class="lead">Music Streaming Service is a great place to organize and view all your favorite artists and songs!</p>
    <p><a href="https://spotify.com" class="btn btn-primary btn-lg">Click here to see a real streaming service!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Checkout Artist</h2>
        <p>
            Here at Music Streaming Service we offer a wide selection of artists! 
        </p>
        <p><a class="btn btn-default" @Html.ActionLink( "Check it out!", "Index", "Artist") </a></p>
    </div>
    <div class="col-md-4">
        <h2>Checkout Albums</h2>
        <p>See all the albums available now!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Check it out!", "Index", "Album") </a></p>
    </div>
    <div class="col-md-4">
        <h2>Checkout Songs</h2>
        <p>You want songs, we got songs!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Check it out!", "Index", "Song")</a></p>
    </div>
</div>